<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div>
        {{index + 1}}: {{person.name}} {{person.surname}}
        <button type="submit" class="btn btn-info"
                (click)="emitirSaludo()">Editar
        </button>

      </div>
    </div>
  </div>
</div>


<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <p>{{personaTitle}}</p>-->
<!--      Nombre: {{nombre}}-->
<!--      Apellido: {{apellido}}-->
<!--      Edad: {{getEdad() + 1}}-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--<div (keyup)='0'>-->
<!--  Repetidor:-->
<!--  <input #entrada type="text">-->
<!--  {{entrada.value}}-->
<!--</div>-->
